body
{
    margin: 0;
}

.global_container
{
    max-width: 1918px;
    margin: 0px auto 0px auto;
}

.slider
{
    width: 100%;
    height: 660px;

    padding-top: 390px;
    position: relative;
    overflow: hidden;
}

.bg_image
{
    width: 100%;
    height: 100%;
    margin: 0px auto 0px auto;
    background-image: url("../img/Mount.jpeg");
    padding-top: 390px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0px;
    transition: left 1s linear 0s;
}

.transparent
{
    background-image: url("../img/HalfOpacytiSlider.png");
    height: 369px;
    position: relative;
    padding-top: 1px; /* Відключити зхлопування маргінів */
}

.transparent > p {
    font-size: 64.658px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: 44px auto 0px auto;
	width: 700px;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
}

.Button_BuyTheme {
    background-color: rgb(255, 230, 0);
    width: 230px;
    height: 57px;
    margin: 29px auto 0px auto;
    padding-top: 1px; /* Відключити зхлопування маргінів */
}

.Button_BuyTheme > p
{
    font-size: 20px;
    font-family: "Oswald";
    color: rgb(19, 19, 22);
    font-weight: bold;
    text-align: center;
    margin: 15px 0px 0px 0px;
}

.arrow_left
{
    background-image: url("../img/arrow_left.png");
    position: absolute;
    width: 18px;
    height: 19px;
    top: 193px;
    left: 22%;
}

.arrow_right
{
    background-image: url("../img/arrow_right.png");
    position: absolute;
    width: 18px;
    height: 19px;
    top: 193px;
    right: 22%;
}

.services
{
    width: 100%;
}

.love_to_do > .name_subblock
{
    color: rgb(0, 0, 0);
    margin: 25px auto 0px auto;
}

.description_block
{
    font-size: 16px;
    font-family: "Oswald";
    color: rgb(112, 112, 112);
    text-align: center;
    max-width: 1150px;
    margin: 23px auto 0px auto;
}

.separator
{
    background-color: rgb(255, 230, 0);
    width: 170px;
    height: 3px;
    margin: 24px auto 0px auto;
}

.icons_love_to_do
{
    margin: 67px 0px;
    text-align: center;
}

.service
{
    width: 270px;
    margin: 0px 38px 0px 38px;
    display: inline-block;
}

.service > p:nth-child(2)
{
    font-size: 20px;
    font-family: "Oswald";
    color: rgb(19, 19, 22);
    font-weight: bold;
    text-align: center;
}

.service > p:nth-child(3)
{
    font-size: 16px;
    font-family: "Oswald";
    color: rgb(112, 112, 112);
    text-align: center;
}

.yellow_circle
{
    width: 110px;
    height: 110px;
    border-radius: 55px;
    background-color: #ffe600;
    margin: 0px auto 0px auto;
}

.yellow_circle > img
{
    margin: 32%;
    width: 36%;
    height: 36%;
    transition: margin 1s, width 1s, height 1s;
}

.yellow_circle > img:hover
{
    margin: 25%;
    width: 50%;
    height: 50%;
}

.do_it
{
    background-color: rgb(19, 19, 22);
    border-top: 1px solid rgb(19, 19, 22);
    padding-bottom: 73px;
}

.do_it > .name_subblock
{
    color: rgb(255, 230, 0);
    margin-top: 65px;
}

.name_block
{
    font-size: 16px;
    font-family: "Oswald";
    color: rgb(81, 81, 81);
    text-align: center;
    margin: 55px auto 0px auto;
}

.name_subblock
{
    font-size: 30px;
    font-family: "Oswald";
    font-weight: bold;
    text-align: center;
}

.do_it > p:nth-child(2)
{
    font-size: 16px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    text-align: center;
}

.icons_do_it
{
    text-align: center;
    margin-top: 50px;
}

.icons_do_it > .works
{
    display: inline-block;
    width: 160px;
    margin: 0px 35px;
}

.icons_do_it > .works > p:nth-child(2)
{
    margin: 15px auto 0px auto;
    font-size: 20px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

.icons_do_it > .works > p:nth-child(3)
{
    font-size: 16px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    text-align: center;
}

.icons_do_it > .works   img
{
    transition: height 1s, width 1s, margin 1s;
    margin: 6px;
    height: 45px;
    width: 45px;
    text-align: center;
}

.icons_do_it > .works   img:hover
{
    margin: 0px;
    height: 57px;
    width: 57px;
}

.container_icon
{
	width: 57px;
	height: 57px;
	margin: 0px auto;	
}

.photo_menu 
{
	text-align: center; 
}

.photo_menu ul
{
	display: inline-block;
}

.photo_menu  li
{
	float: left;
	cursor: pointer;
	list-style-type: square;
	margin-right: 30px;
	color: #ffe600;
}

.photo_menu  li:first-child
{
	list-style-type: none;
}

.photo_menu  li > a:hover
{
	color: #ffe600;
}

.photo_menu  li > a
{
	color: #5e5e5e;
}

.photos
{
	font-size: 0px;
}

.photo 
{
	width: 200px;
	height: 200px;
	margin: 0px;
	position: relative;	
	font-size: 20px;
	color: white;
	vertical-align: top;
	
	display: inline-flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
}

.photo  p
{
	display: none;
	margin: 0px;
}

.yellow_phon 
{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	top: 0px;
	left: 0px;
}

.yellow_phon:hover
{
	background-color: #ffe600;
}

.photo:hover  p
{
	display: block;
}






